    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("header/profile.png", alt: "Profile Picture of James Bumbalough", class: "img-responsive") %>
                    <div class="intro-text">
                        <span class="name">James Bumbalough</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Columbus Ohio</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Resume Section -->
    <section id="resume">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>About Me</h3>
                    <p>I'm a <span class="ageOutput">30</span> year old Web Developer working out of the Columbus area. I primarily focus on front-end development and creating custom UX, but I have a programming background and would love to work as a full stack developer.</p>
                </div>
                <div class="col-lg-4">  
                    <h3>Education</h3>
                    <p><b>Ashland University</b> | 2003 - 2007</p>
                    <p><b>BS:</b> Computer Art and Graphics Programming</p>
                    <p><b>Minor:</b> Coputer Science</p>
                    <p><b>GPA:</b> 3.478</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Work Experience</h3>
                    <ul id="work-experience" class="clearfix">
                        <li>
                            <div class="year pull-left">2015</div>
                            <div class="description pull-right">
                                <div class="company-name pull-left">
                                   Bath and Body Works
                                </div>
                                <div class="position-title pull-right">
                                    <b>Role</b> | Web Developer
                                </div>
                            </div>                      
                        </li>
                        <li>
                            <div class="year pull-left">2014</div>
                            <div class="description pull-right">
                                <div>
                                    <div class="company-name pull-left">
                                       Sogeti
                                    </div>
                                    <div class="position-title pull-right">
                                        <b>Role</b> | Consultant
                                    </div>
                                </div>
                                <div class="clear-both">
                                    <div class="company-name-sub pull-left">
                                       - Abbott
                                    </div>
                                    <div class="position-title pull-right">
                                        Developer
                                    </div>
                                </div>
                                <div class="clear-both">
                                    <div class="company-name-sub pull-left">
                                       - Abercrombie
                                    </div>
                                    <div class="position-title pull-right">
                                        QA Lead
                                    </div>
                                </div>
                                <div class="clear-both">
                                    <div class="company-name-sub pull-left">
                                       - Abbott
                                    </div>
                                    <div class="position-title pull-right">
                                        Developer
                                    </div>
                                </div>
                            </div>                      
                        </li>
                         <li>
                            <div class="year pull-left">2007</div>
                            <div class="description pull-right">
                                <div class="company-name pull-left">
                                   KMI
                                </div>
                                <div class="position-title pull-right">
                                    <b>Role</b> | Web / Flash Developer
                                </div>
                            </div>                      
                        </li> 
                         <li>
                            <div class="year pull-left">2006</div>
                            <div class="description pull-right">
                                <div class="company-name pull-left">
                                   Web Dev Works
                                </div>
                                <div class="position-title pull-right">
                                    <b>Role</b> | PHP Developer
                                </div>
                            </div>                      
                        </li>                                                                      
                    </ul>
                </div>   
            </rov>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Key Skills</h3>
                </div>                               
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 min-pad">
                    <h4>Languages</h4>
                    <div class="skillset clear-both">                       
                        <div class="skill pull-left">
                           C#
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           Ruby
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                        
                        <div class="skill pull-left">
                           PHP
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent60 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           Java
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent60 icons-red"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 min-pad">
                    <h4>Scripts</h4>
                    <div class="skillset clear-both">
                        <div class="skill pull-left">
                           HTML
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent100 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           CSS
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent100 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           JavaScript
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                         
                        <div class="skill pull-left">
                           XML
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-lg-4 col-lg-offset-2 min-pad">
                    <h4>Tools / Frameworks</h4>
                    <div class="skillset clear-both">
                         <div class="skill pull-left">
                           jQuery
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent100 icons-red"></div>
                            </div>
                        </div>                       
                        <div class="skill pull-left">
                           SASS / LESS
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent100 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           Angular
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                        
                        <div class="skill pull-left">
                           ASP.net
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                                                 
                        <div class="skill pull-left">
                           Grunt / Gulp
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                        
                        <div class="skill pull-left">
                           Node.js
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent60 icons-red"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-4 min-pad">
                    <h4>Databases</h4>
                    <div class="skillset clear-both">
                        <div class="skill pull-left">
                           MySQL
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           Rails
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>
                        <div class="skill pull-left">
                           Salesforce DE
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent80 icons-red"></div>
                            </div>
                        </div>                        
                        <div class="skill pull-left">
                           Oracle
                        </div>
                        <div class="rating pull-right">
                            <div class="icons pull-right">
                                <div class="percent60 icons-red"></div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 min-pad">                
                    <h4>Other</h4>
                    <ul class="other">
                        <li>Bootstrap</li>
                        <li>Photoshop</li>
                        <li>Flash</li>
                        <li>Git</li>
                        <li>Tortise SVN</li>
                        <li>Linux</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Experience Summary</h3>
                    <div id="bbw-expsum" class="experience-summary contracted">
                        <div class="experience-summary-header">
                            <%= image_tag("resume/bbw_logo.png", alt: "Bath and Body Works Logo", class: "logo img-responsive") %>
                            <h4>Bath and Body Works</h4>
                        </div>
                        <div class="experience-points">
                            <div class="expandIcon">
                                <i class="fa fa-chevron-down"></i> Expand
                            </div>                            
                            <ul>
                                <li>Responsible for updating and maintaining the Bath and Body Works’ website</li>
                                <li>Lead architect of BBWD’s HTML5 single page mobile experiences</li>
                                <li>Helped build and implement custom-made user experience pages for ‘Firstlook’ customers.</li>
                                <li>Used CSS transitions, and jQuery animations to create fun user interactions throughout the site</li>
                                <li>Technical advisor to the Daily Marketing Email Team and chief builder of the daily email sends</li>
                                <li>In charge of creating all the HTML email templates, including emails with dynamic content</li>
                                <li>Created email sign up forms, and the corresponding data extension databases within Salesforce</li>
                                <li>Became a technical expert on ADA compliance, and aided in getting the website up to AA standards</li>
                            </ul>
                        </div>
                        <div class="technologies">
                            <h4>Technologies Used</h4>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>Jquery</li>
                                <li>AMPscript</li>
                                <li>Salesforce Data Extensions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-summary-footer">
                    </div>
                    <div id="sogeti1-expsum" class="experience-summary contracted">
                        <div class="experience-summary-header">
                            <%= image_tag("resume/sogeti_logo.png", alt: "Sogeti Logo", class: "logo img-responsive") %>
                            <h4>Sogeti - Abbott Nutrition</h4>
                        </div>
                        <div class="experience-points">
                            <div class="expandIcon">
                                <i class="fa fa-chevron-down"></i> Expand
                            </div>                            
                            <ul>
                                <li>Lead developer on a project to build a shipping website for ordering coupons and product information using Salesforce CRM integration for key Abbott clients and consumers</li>
                                <li>Fixed and updated numerous Abbott product websites as part of Abbott’s Small Queue Team</li>
                                <li>Worked with social media API’s, like Bazaarvoice and Crowdtwist to further Abbott’s social media presence</li>
                                <li>Helped create weekly emails and newsletters in HTML to be sent to clients and customers</li>
                                <li>Built an animated IE7 detection and warning system using JavaScript and JQuery</li>
                            </ul>
                        </div>
                        <div class="technologies">
                            <h4>Technologies Used</h4>
                            <ul>
                                <li>ASP.NET</li>
                                <li>C#</li>
                                <li>CSS3</li>
                                <li>JQuery</li>
                                <li>MVC4</li>
                                <li>MySQL</li>
                                <li>XML</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-summary-footer">
                    </div>
                    <div id="sogeti2-expsum" class="experience-summary contracted">
                        <div class="experience-summary-header">
                            <%= image_tag("resume/sogeti_logo.png", alt: "Sogeti Logo", class: "logo img-responsive") %>
                            <h4>Sogeti - Abercrombie</h4>
                        </div>
                        <div class="experience-points">
                            <div class="expandIcon">
                                <i class="fa fa-chevron-down"></i> Expand
                            </div>                            
                            <ul>
                                <li>Ran hundreds of QA tests across wide variety of technical systems</li>
                                <li>Managed a team of two other QA analysts to help delegate work flow</li>
                                <li>Wrote a number of test cases to be used by his team members in replicating QA tests</li>
                                <li>Organized and coordinated cross-platform performance tests between a number of project leads</li>
                            </ul>
                        </div>
                        <div class="technologies">
                            <h4>Technologies Used</h4>
                            <ul>
                                <li>Excel</li>
                                <li>HP ALM</li>
                                <li>IBM Lotus Notes</li>
                                <li>Java</li>
                                <li>XML</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-summary-footer">
                    </div>      
                    <div id="kmi-expsum" class="experience-summary contracted">
                        <div class="experience-summary-header">
                            <%= image_tag("resume/kmi_logo.png", alt: "KMI Logo", class: "logo img-responsive") %>
                            <h4>KMI Inc</h4>
                        </div>
                        <div class="experience-points">
                            <div class="expandIcon">
                                <i class="fa fa-chevron-down"></i> Expand
                            </div>                            
                            <ul>
                                <li>Responsible for the art and design of hundreds of interactive Flash training courses and PHP websites</li>
                                <li>Built customized graphic libraries of vector and bitmap image types</li>
                                <li>Designed dynamic Flash courses that ran off of XML scripting</li>
                                <li>Created several interactive games and learning assessments that used the SCORM framework</li>
                                <li>Made animated videos with 3D rendering tools</li>
                                <li>Used audio editing tools to clean up and crop audio files</li>
                                <li>Redesigned and rebuilt a number of Flash courses into HTML5 interactive applications</li>
                                <li>Used CSS3 transitions, and JavaScript to create simple animations</li>
                                <li>Resized graphics and images for performance optimization</li>
                                <li>Used the jQuery Mobile creation app Codiqa to assist in mobile design</li>
                                <li>Key team member in the redesigning of the KMI website.</li>
                            </ul>
                        </div>
                        <div class="technologies">
                            <h4>Technologies Used</h4>
                            <ul>
                                <li>ActionScript</li>
                                <li>Adobe Edge</li>
                                <li>CSS3</li>
                                <li>Flash</li>
                                <li>HTML5</li>
                                <li>JavaScript</li>
                                <li>Photoshop</li>
                                <li>PHP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-summary-footer">
                    </div>
                    <div id="webdev-expsum" class="experience-summary contracted">
                        <div class="experience-summary-header">
                            <h4>WebDev Works</h4>
                        </div>
                        <div class="experience-points">
                            <div class="expandIcon">
                                <i class="fa fa-chevron-down"></i> Expand
                            </div>                            
                            <ul>
                                <li>Created a PHP contact form that collected user data and stored it in a MySQL database</li>
                                <li>Created an automated form mailer to send regulated emails and messages to clients</li>
                            </ul>
                        </div>
                        <div class="technologies">
                            <h4>Technologies Used</h4>
                            <ul>
                                <li>PHP</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-summary-footer">
                    </div>
                </div>  
            </rov>                    
        </div>      
    </section> 

    <!-- Portfolio Grid Section -->   
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <h3>Mobile Experiences for Bath and Body Works</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_hawaii" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/hawaii.jpg", alt: "Hawaii Mobile Experience", class: "logo img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_fall_lookbook" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/fall_lookbook.jpg", alt: "Fall Lookbook Experience", class: "logo img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_santa_squad" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/santa_squad.jpg", alt: "Santa Squad Experience", class: "logo img-responsive") %>                        
                    </a>
                </div>
            </div>
            <div class="row">
                <h3>Happy Spring Experience (Login, Desktop, and Mobile)</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_happy_spring_login" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/happy_spring_login.jpg", alt: "Happy Spring Login", class: "logo img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_happy_spring" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/happy_spring.jpg", alt: "Happy Spring Experience", class: "logo img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="/experience_happy_spring_mobile" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/happy_spring_mobile.jpg", alt: "Happy Spring Mobile Experience", class: "logo img-responsive") %>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <%= form_for @support, :url => { :action => "create" }, :html => { :method => :post, :id => "contactForm", :name => "sentMessage", :novalidate => "novalidate"} do |f| %>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label "Name" %>
                                <%= f.text_field :sender_name, placeholder: "Name", class: "form-control", id: "name", "required data-validation-required-message" => "Please enter your name." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label "Email Address" %>
                                <%= f.text_field :email, placeholder: "Email Address", class: "form-control", id: "email", "required data-validation-required-message" => "Please enter your email address." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label "Phone Number" %>
                                <%= f.telephone_field :phone, placeholder: "Phone Number", class: "form-control", id: "phone", "required data-validation-required-message" => "Please enter your phone number." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label "Message" %>
                                <%= f.text_area :content, rows: 5, placeholder: "Message", class: "form-control", id: "message", "required data-validation-required-message" => "Please enter a message." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <%= f.submit "Send", class: "btn btn-lg btn-info" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>