<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Columbus Web Developer">
      <meta name="keywords" content="Columbus, Web Developer, Portfolio, James, Bumbalough, Full Stack Developer, Ruby, Rails, Bootstrap, Angular"
      <meta name="author" content="James Bumbalough">

      <title>James Bumbalough - Web Developer</title>

      <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
      <%= stylesheet_link_tag "bootstrap.min", media: "screen", "data-turbolinks-track" => true %>

      <!-- Custom CSS -->
      <%= stylesheet_link_tag "freelancer.min", media: "screen", "data-turbolinks-track" => true %>

      <!-- Custom Fonts -->
      <%= stylesheet_link_tag "font-awesome.min", media: "screen", "data-turbolinks-track" => true %>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

      <%= yield(:header) if @content_for_header %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>

  </head>
  <body>
      <%= render 'layouts/nav' %>
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/scrolltop' %>
  <!-- jQuery -->
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>

  <!-- Bootstrap Core JavaScript -->
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <%= javascript_include_tag "classie", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "cbpAnimatedHeader.min", "data-turbolinks-track" => true %>

  <!-- Time Checker JavaScript -->
  <%= javascript_include_tag "moment.min", "data-turbolinks-track" => true %>

  <!-- Contact Form JavaScript -->
  <%= javascript_include_tag "jqBootstrapValidation", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "contact_me", "data-turbolinks-track" => true %>   

  <!-- Onscreen -->
  <%= javascript_include_tag "onscreen", "data-turbolinks-track" => true %>

  <!-- Custom Theme JavaScript -->
  <%= javascript_include_tag "freelancer", "data-turbolinks-track" => true %>

  <!-- Experiences JS -->
  <% if params[:action] == "experience_hawaii" && params[:controller] == "experiences" %>
    <!-- hawaii -->
    <%= javascript_include_tag "experiences/jquery_validation.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/modernizer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/pxloader.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/responsive.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/hawaii_experience", "data-turbolinks-track" => false %>
  <% end %>
  <% if params[:action] == "experience_fall_lookbook" && params[:controller] == "experiences" %>
    <!-- Fall Look Book -->
    <%= javascript_include_tag "experiences/jquery_validation.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/modernizer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/pxloader.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/responsive.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/fall_lookbook_experience", "data-turbolinks-track" => false %>
  <% end %>
  <% if params[:action] == "experience_santa_squad" && params[:controller] == "experiences" %>
    <!-- Fall Look Book -->
    <%= javascript_include_tag "experiences/jquery_validation.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/modernizer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/pxloader.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/responsive.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "experiences/santa_squad_experience", "data-turbolinks-track" => false %>
  <% end %>

  <!-- google analytics tracking -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7588651-3', 'auto');
    ga('send', 'pageview');
  </script>



  </body>

</html>